<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Welcome and Choose a Course</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Courses List</h1>
</header>
<main>
    <h2>Choose course:</h2>
    <form method="post" th:action="@{/courses}">
        <ul style="list-style: none">
            <li th:each="course: ${coursesList}">
                <input type="radio" name="courseId" th:value="${course.getCourseId()}">
                <th:block th:text="${course.getName()}"></th:block>
                <button type="submit" name="action" th:value="edit- + ${course.getCourseId()}">Edit</button>
                <button type="submit" th:onclick="'javascript:handleDeleteCourse(' + ${course.getCourseId()} + ')'">Delete</button>
            </li>
        </ul>
        <button type="submit" name="action" value="submit">Submit</button>
    </form>
    <form th:method="get" th:action="@{/courses/add-form}">
        <button type="submit">Add new course</button>
    </form>

    <p style="color: red;"><th:block th:text="${error}"></th:block></p>

    <form method="post" th:action="@{/courses/sort}">
        <button type="submit">Change sorting order of courses to <th:block th:text="${sortOrder}"></th:block></button>
    </form>
    <script>
        const handleDeleteCourse = async (id) => {
            await fetch(`/courses/${id}`, {
                method: 'DELETE'
            })
        }
    </script>
</main>
</body>
</html>